<?xml version="1.0"?>
<config>
    <tabs>
        <smart_tab module="sm_featuredproducts" translate="label">
            <label>Smart</label>
            <sort_order>10</sort_order>
        </smart_tab>
    </tabs>
    <sections>
        <featuredproducts module="sm_featuredproducts" translate="label">
            <label>Featured Products</label>
            <tab>smart_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <implement translate="label">
                    <label>Guides Setup</label>
                    <frontend_model>sm_featuredproducts/adminhtml_system_configuration_implement</frontend_model>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </implement>
            </groups>
        </featuredproducts>
    </sections>
</config>